* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: min-content;
  font-family: "Cairo", sans-serif;
}

a {
  text-decoration: none;
  white-space: nowrap;
}

a:hover {
  opacity: 0.8;
  transition: opacity ease-in-out 300ms;
}

input {
  font-family: "Cairo", sans-serif;
}

/* #region HEADER */
#header {
  padding: 1.333rem 10%;
  display: flex;
  justify-content: space-between;
  background-color: white;
}

#header .header-nav {
  display: flex;
  flex-direction: row-reverse;
}

#header .header-nav a {
  margin-right: 1.777rem;
  color: #012622;
}

#header .header-nav a:first-of-type {
  margin: 0;
}

#header .header-nav span {
  margin: 0 0.5rem;
  font-weight: 600;
}

#header .header-nav .link-auth {
  margin: 0;
}

#header .header-nav .header-active {
  color: #e57100;
}
/* #endregion HEADER */

/* #region HOMEPAGE */
#homepage {
  height: 100vh;
}

#homepage section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#homepage h1 {
  margin-top: 1.881rem;
  margin-bottom: 0px;
  text-align: center;
  font-weight: 800;
  font-size: 3.157rem;
}

#homepage .slogan {
  margin-bottom: 3.157rem;
  text-align: center;
}

#homepage .order {
  padding: 8px;
  width: 250px;
  color: white;
  background: #003b36;
  border: none;
  border-radius: 3px;
  font-weight: 300;
  font-size: 1.333rem;
  box-shadow: 0 2px 2px #010404;
  cursor: pointer;
  text-align: center;
  transition: opacity ease-in-out 300ms;
}

#homepage .order:hover {
  opacity: 0.9;
}

#homepage .image-container {
  position: relative;
  width: 100%;
  height: 100%;
  background: url("/static/images/assets/1.png") center center;
  background-size: cover;
}
/* #endregion HOMEPAGE*/

/* #region BASIC LAYOUT */
/* BASIC LAYOUT For 3 pages*/
.main-container {
  padding: 4.209rem 10%;
  background: #f4f0f6;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container > div {
  height: 600px;
  display: grid;
  grid-template-columns: 400px 533.3px;
  background: white;
  border-radius: 4px;
}

.main-form-image {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  background: white;
  box-shadow: 0 1px 3px #01040436;
}

.main-form-image img {
  height: 100%;
  border-radius: 4px 0 0 4px;
}

.main-form-image-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #010404;
  opacity: 0;
  z-index: 888;
}

.required {
  margin-right: 5px;
  color: red;
  font-weight: bold;
}
/* #endregion */

/* #region BASIC FORM */
.main-form {
  padding: 1.777rem 3.157rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
  box-shadow: 0 1px 2px #01040436;
}

.main-form .input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: right;
}

.main-form label {
  padding-bottom: 5px;
}

.main-form input {
  margin-bottom: 1.881rem;
  padding: 8px;
  border: none;
  text-align: right;
  border-bottom: 1.1px solid #2e5e5a;
  outline: none;
}

.main-form input:focus {
  border-bottom-color: #e57100;
}

.main-form .form-header {
  margin: 1.777rem 3.157rem;
  width: 100%;
  height: 50px;
  color: #e57100;
  border-bottom: #e57100 solid 1.5px;
  text-align: center;
  line-height: 50px;
  font-size: 1.333rem;
  font-weight: 600;
}

.main-form textarea {
  padding: 8px;
  height: 45px;
  text-align: right;
  border: 1.1px solid #2e5e5a;
  border-radius: 2px;
  outline: none;
  font-family: "Cairo", sans-serif;
}

.main-form textarea:focus {
  border-color: #e57100;
}

.main-form .input-container:first-of-type {
  margin-bottom: 20px;
}

.main-form .dollar-sign {
  margin-right: 1rem;
  font-weight: 600;
}

.main-form .meal-image {
  height: 50px;
  display: flex;
  align-items: center;
  align-self: flex-end;
  border-bottom: #003b36 solid 1px;
  font-size: 1.777rem;
  cursor: pointer;
}

.main-form .meal-image img {
  margin-left: 8px;
  height: 100%;
  opacity: 0.3;
}

.main-form .meal-image .plus {
  opacity: 0.3;
}

.main-form .meal-image .active {
  color: green;
}

.main-form .meal-image span:first-of-type {
  margin-right: 10px;
  font-size: 0.8rem;
}

.main-form .input-container-image {
  margin-bottom: 1.881rem;
}

.main-form .input-container-image input {
  position: absolute;
  opacity: 0;
  display: none;
}

.main-form .form-btn {
  display: inline-block;
  margin: 0;
  padding: 8px;
  width: 150px;
  color: white;
  background: #003b36;
  border: none;
  border-radius: 3px;
  font-size: 0.7rem;
  font-weight: 600;
  box-shadow: 0 2px 2px #01040457;
  cursor: pointer;
  text-align: center;
  transition: opacity ease-in-out 300ms;
}

.main-form .form-btn:hover {
  opacity: 0.9;
}

.main-form .form-btn:first-child {
  margin-right: 0.75rem;
}

.main-form .form-btn:last-child {
  margin-left: 0.75rem;
}
/* #endregion BASIC FORM */

/* #region ADD MEAL PAGE */
#add-meal-form {
  padding-top: 122px;
  position: relative;
  justify-content: flex-start;
  opacity: 1;
}

#add-meal-form .form-header {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - 3.157rem - 3.157rem);
}

#add-meal-form .input-container:first-of-type {
  margin-bottom: 20px;
}

#add-meal-form textarea {
  margin-bottom: 1.881rem;
}

#add-meal-form .meal-image span:first-of-type {
  margin-right: 10px;
  font-size: 0.8rem;
}

#add-meal-form .add-meal-cancel {
  background: #9d1c19;
}
/* #endregion */

/* #region REQUEST PAGE */
#request-meal .form-btn {
  margin: 0;
}

#request-meal .request-meal-name {
  padding: 8px;
  background: #efefef;
  text-align: center;
}
/* #endregion REQUEST PAGE */

/* #region UPDATE MEAL PAGE */
#update-meal-form {
  padding-top: 122px;
  position: relative;
  justify-content: flex-start;
  opacity: 1;
}

#update-meal-form .form-header {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - 3.157rem - 3.157rem);
}

#update-meal-form .input-container:first-of-type {
  margin-bottom: 20px;
}

#update-meal-form textarea {
  margin-bottom: 1.881rem;
}

#update-meal-form .meal-image span:first-of-type {
  margin-right: 10px;
  font-size: 0.8rem;
}

#update-meal-form .add-meal-cancel {
  background: #9d1c19;
}

#update-meal-form .update-meal-cancel {
  background: #9d1c19;
}
/* #endregion UPDATE MEAL PAGE */

/* --------------------- */
/* EDIT MEAL */
#main-edit {
  padding: 4.209rem 10%;
  min-height: calc(100vh - 2.666rem - 30px);
  background: #f4f0f6;
}

#main-edit .meals-container {
  margin-bottom: 1.777rem;
  padding: 1.888rem 2.369rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2.369rem;
  background: white;
}

#main-edit .meal {
  width: 100%;
}

#main-edit .meal > p:first-of-type {
  padding: 8px 0;
  color: white;
  background: #e7d401;
  text-align: center;
  border-radius: 4px 4px 0 0;
}

#main-edit .meal img {
  width: 100%;
  max-width: 100%;
  height: 180px;
  border-radius: 0 0 4px 4px;
}

#main-edit .meal > div:last-of-type {
  display: flex;
  justify-content: center;
}

#main-edit .delete-btn,
#main-edit .edit-btn {
  padding: 8px;
  width: 100px;
  color: white;
  background: #003b36;
  border: none;
  border-radius: 3px;
  font-weight: 600;
  box-shadow: 0 2px 2px #01040457;
  cursor: pointer;
  text-align: center;
  transition: opacity ease-in-out 300ms;
  font-size: 0.7rem;
}

#main-edit .delete-btn:hover,
#main-edit .edit-btn:hover {
  opacity: 0.9;
}

#main-edit .edit-btn {
  margin-left: 8px;
}

#main-edit .delete-btn {
  margin-right: 8px;
  background: #d00000;
}

.edit-form-hide {
  display: none;
}

#main-edit #add-meal-cancel {
  padding: 6px;
  font-size: 0.7rem;
}

/* #region ADMIN DASHBOARD */
#admin-dashboard {
  display: grid;
  grid-template-columns: 1fr 300px;
  min-height: 100vh;
}

#admin-dashboard .header {
  background-color: #f4f0f6;
}

#admin-dashboard .dashboard-aside {
  padding: 88.25px 25px 0 25px;
  background-color: #011513;
  box-shadow: 0 0 2px #010707;
  z-index: 1;
}

#admin-dashboard .dashboard-aside-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ccc;
  text-align: center;
}

#admin-dashboard .dashboard-aside-profile img {
  margin-bottom: 6px;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: #ccc solid 2px;
  box-shadow: 0 0 3px #003b36;
}

#admin-dashboard .dashboard-aside-profile .job {
  font-size: 0.8rem;
  color: #d16700;
}

#admin-dashboard .dashboard-aside-profile a {
  border-bottom: 1px solid #336699;
  color: #336699;
  font-size: 0.7rem;
  font-weight: bold;
}

#admin-dashboard .dashboard-main {
  padding: 1.777rem 10%;
}

#admin-dashboard .dashboard-main > p {
  margin-bottom: 1.777rem;
  text-align: center;
  color: #010707;
  font-size: 1.777rem;
  text-shadow: 0 1px 1px #0107077c;
}

#admin-dashboard .dashboard-main > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 4.209rem;
  text-align: center;
}

#admin-dashboard .dashboard-main img {
  width: 100%;
  height: 240px;
  border-radius: 4px;
  box-shadow: 0 2px 2px #01151323;
}

#admin-dashboard .dashboard-main a {
  color: #003b36;
  border-bottom: 1px solid #003b36;
  font-weight: 600;
}
/* #endregion DASHBOARD  */

/* Main Request */
#main-request {
  padding: 1.777rem 10%;
  background: #f4f0f6;
  display: flex;
  flex-direction: column;
  border-top: 2px solid #e57100;
  align-items: center;
}

#main-request .search-request-form {
  margin-bottom: 1.777rem;
}

#main-request .search-request-form select {
  padding: 10px 20px;
  width: 300px;
  border-radius: 4px;
  cursor: pointer;
}

#main-request .search-request-form label {
  margin-bottom: 5px;
  display: block;
  margin-left: 1rem;
  text-align: right;
}

#main-request > p {
  margin-bottom: 1rem;
  font-size: 1.777rem;
  color: #012622;
}

#main-request .request-table {
  box-shadow: 0 2px 2px #01040413;
}

#main-request .request-table > div {
  padding: 10px 20px;
  display: grid;
  grid-template-columns: 100px 100px 100px 200px 300px;
  grid-column-gap: 1.777rem;
  text-align: right;
  background: white;
  border-bottom: #003b3636 solid 1px;
}

#main-request .request-table .request-table-header {
  margin-bottom: 10px;
  font-weight: 600;
}

#main-request .checkbox-status-form {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#main-request .checkbox-status-form input {
  margin-top: 5px;
  margin-left: 8px;
  cursor: pointer;
}

#main-request .btn-edit {
  margin-left: 50%;
  margin-top: 0.75rem;
  padding: 8px;
  width: 100px;
  color: white;
  background: #003b36;
  border: none;
  border-radius: 3px;
  box-shadow: 0 2px 2px #01040457;
  cursor: pointer;
  text-align: center;
  transition: opacity ease-in-out 300ms;
  font-size: 0.9rem;
  letter-spacing: 1px;
  transform: translateX(-50%);
}

/* #region MAIN MEAL */
#main-meals {
  padding: 4.209rem 10%;
  min-height: calc(100vh - 2.666rem - 30px);
  background: #f4f0f6;
}

#main-meals .meals-container {
  margin-bottom: 1.777rem;
  padding: 1.888rem 2.369rem;
  background: white;
  box-shadow: 0 0 10px #01040417;
}

#main-meals .meals-container > p {
  margin-bottom: 2.369rem;
  width: 100%;
  height: 50px;
  color: #e57100;
  border-bottom: #e57100 solid 1.5px;
  text-align: center;
  line-height: 50px;
  font-size: 1.333rem;
  font-weight: 600;
}

#main-meals .meals-container > div {
  display: grid;
  grid-template-columns: repeat(3, 350px);
  grid-gap: 1.333rem 1rem;
}

#main-meals .meal {
  position: relative;
  width: 100%;
  grid-gap: 1.777rem;
  padding: 1.777rem;
  text-align: center;
}

#main-meals .meal > div {
  position: relative;
}

#main-meals .meal img {
  width: 100%;
  max-width: 100%;
  height: 400px;
  border-radius: 4px;
  box-shadow: 0 2.5px 2px #01040433;
}

#main-meals .meal .cart {
  position: absolute;
  bottom: -31px;
  left: calc(50% - 31px);
  padding: 15px;
  display: block;
  width: 62px;
  height: 62px;
  background: white;
  border-radius: 50%;
  box-shadow: 0 0 2px #01040433;
  transition: transform ease-in-out 300ms;
}

#main-meals .meal .cart:hover {
  transform: scale(1.1);
  opacity: 0.95;
}

#main-meals .meal .cart img {
  width: 100%;
  height: 100%;
  box-shadow: none;
}

#main-meals .meal-header {
  margin-bottom: 1rem;
  color: #003b36;
  text-align: center;
  font-weight: 700;
}
/* #endregion MAIN MEAL */

/* #region MEAL DETAILS */
#meal-details {
  padding: 1.333rem 10%;
  background-color: #f4f0f6;
}

#meal-details .meal-details-meal {
  padding: 1.777rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  text-align: center;
  border-top: 2px solid #d16700;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 2px #01040433;
}

#meal-details .meal-details-meal img {
  width: 350px;
  border-radius: 4px;
}

#meal-details .meal-details-meal .meal-header {
  margin-top: 1.777rem;
  margin-bottom: 1rem;
  font-size: 1.333rem;
  font-weight: bold;
  color: #003b36;
}

#meal-details .meal-details-meal a {
  display: block;
  margin-top: 1rem;
  margin-left: 50%;
  padding: 8px;
  width: 100px;
  color: white;
  background-color: #d16700;
  border: none;
  border-radius: 3px;
  font-weight: 600;
  box-shadow: 0 2px 2px #01040457;
  cursor: pointer;
  text-align: center;
  transition: opacity ease-in-out 300ms;
  transform: translateX(-50%);
}
/* #endregion MEAL DETAILS */

/* #region Done */
#done {
  padding: 1.333rem 10%;
  height: calc(108vh - 61.05px - 1.333rem);
  background-color: #f4f0f6;
}

#done > div {
  padding: 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 4px;
  border: #d16700 solid 1.5px;
  box-shadow: 0 2px 2px #d1690052;
}

#done .done-header {
  margin-top: 1rem;
  margin-bottom: 1.777rem;
  color: #003b36;
  text-align: center;
  font-size: 2.369rem;
  font-weight: thin;
}

#done .details {
  margin-top: 1.333rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#done .details p:first-of-type {
  margin-bottom: 8px;
  font-weight: 700;
  color: #003b36;
}

#done .details p:last-of-type {
  margin-bottom: 1rem;
  padding: 8px;
  width: 200px;
  border-radius: 4px;
  background-color: #efefef;
  box-shadow: 0 1px 1px #0104042f;
}

#done .done-time {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  font-weight: 700;
}
/* #endregion */

#footer {
  color: white;
  background: #000;
  text-align: center;
}

#add-meal-image:hover {
  opacity: 0.8;
}

#add-meal-image p {
  border-bottom: 1.5px solid #e57100;
}

#add-meal-image a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #003b36;
}

#add-meal-image img {
  margin-right: 1rem;
  height: 40px;
}

@media only screen and (max-width: 1180px) {
  #admin-dashboard .dashboard-main > div {
    grid-template-columns: 1fr;
  }
}
