<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://fonts.googleapis.com/css?family=Cairo:200,300,400,600,700,900&display=swap&subset=arabic"
      rel="stylesheet"
    />
    <link href="{{ url_for('static', filename='style/style.css') }}" rel="stylesheet">

    <title>أضف وجبة</title>
  </head>
  <body>
    <main id="admin-dashboard">
      <section>
        <header id="header" class="header">
          <p>LOGO</p>

          <nav class="header-nav">
            <a href="/">الصفحة الرئيسية</a>
            <a href="#">الملف الشخصي</a>
            <a href="#"> الإحصائيات</a>
          </nav>
        </header>

        <section class="dashboard-main">
          <p>اهلا بك حضرة المدير</p>

          <div>
            <div>
              <img
                src="/static/images/assets/pexels-photo-988865.jpeg"
                alt="صورة لصفحة عرض الوجبات"
              />

              <a href="/admin/meals">عرض الوجبات </a>
            </div>

            <div>
              <img
                src="/static/images/assets/main.jpg"
                alt="صورة لصفحة الرئيسية"
              />

              <a href="/">الصفحة الرئيسية </a>
            </div>

            <div>
              <img
                src="/static/images/assets/add-meal.jpeg"
                alt="صورة لصفحة اضافة الوجبات"
              />

              <a href="/admin/meals/add_meal">إضافة وجبة </a>
            </div>

            <div>
              <img
                src="/static/images/assets/pexels-photo-1194431.jpeg"
                alt="صورة لصفحة عرض الوجبات"
              />

              <a href="/admin/requests">ادارة الطلبات </a>
            </div>
          </div>
        </section>

        <footer id="footer">
          <p>www.delivery-meals.com</p>
        </footer>
      </section>

      <aside class="dashboard-aside">
        <div class="dashboard-aside-profile">
          <img src="/static/images/assets/admin.jpg" alt="admin image" />

          <div>
            <p>أحمد رمزي البهوتي</p>
            <p class="job">مشرف عام</p>
            <!-- <a href="#">الملف الشخصي</a> -->
          </div>
        </div>
      </aside>
    </main>
  </body>
</html>
