<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/style/style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Cairo:200,300,400,600,700,900&display=swap&subset=arabic"
      rel="stylesheet"
    />

    <title>عرض و تعديل الوجبات</title>
  </head>
  <body>
    <header id="header">
      <p>LOGO</p>

      <nav class="header-nav">
        <a href="#">الصفحة الرئيسية</a>
        <a href="#">صفحة الوجبات</a>
        <a href="#">صفحة الطلبات</a>
      </nav>
    </header>

    <main id="main-edit">
      <section class="meals-container">
        <!-- Template -->
        <!-- <div id="1" class="meal">
          <p>وجبة برجر</p>
          <img src="../static/images/assets/burger.jpeg" alt="burger image" />

          <div>
            <button class="delete-btn">حـــذف</button>
            <button class="edit-btn">تعديــل</button>
          </div>
        </div>

        <div id="2" class="meal">
          <p>وجبة سمك</p>
          <img src="../static/images/assets/fish.jpeg" alt="burger image" />

          <div>
            <button class="delete-btn">حـــذف</button>
            <button class="edit-btn">تعديــل</button>
          </div>
        </div>

        <div id="3" class="meal">
          <p>وجبة اللحم المشوي</p>
          <img src="../static/images/assets/meat.jpeg" alt="burger image" />

          <div>
            <button class="delete-btn">حـــذف</button>
            <button class="edit-btn">تعديــل</button>
          </div>
        </div> -->
      </section>

      <section id="edit-form" data-hide="true">
        <form id="add-meal-form">
          <p class="form-header">تعديــل وجبة</p>

          <div class="input-container">
            <label html="mealName">:اسم الوجبة </label>
            <input
              type="text"
              name="mealName"
              id="mealName"
              placeholder="... أدخل اسم الوجبة"
            />
          </div>
          <div class="input-container">
            <label html="mealDesc"> :وصف الوجبة </label>
            <textarea
              name="mealDesc"
              id="mealDesc"
              placeholder="... أدخل وصف مناسب للوجبة"
            ></textarea>
          </div>
          <div class="input-container">
            <label html="price"> :السعر </label>
            <div>
              <span class="dollar-sign">$</span>
              <input type="number" name="price" id="price" value="1" min="1" />
            </div>
          </div>

          <div class="input-container input-container-image">
            <label for="mealImage">:صورة للوجبة </label>
            <label for="mealImage" class="meal-image">
              <span id="mealImageName">برجاء إضافة صورة</span>
              <span class="plus">+ </span>
              <img src="../static/images/assets/image.png" alt="image logo" />
            </label>
            <input
              type="file"
              name="mealImage"
              id="mealImage"
              placeholder="... أدخل اسم الوجبة"
            />
          </div>

          <div>
            <button id="add-meal-cancel">إلــغاء</button>
            <input
              type="submit"
              name="add-meal-submit"
              id="add-meal-submit"
              value="تعديــل"
            />
          </div>
        </form>
      </section>
    </main>

    <footer id="footer"></footer>
    <script src="../static/js/edit-meal.js"></script>
  </body>
</html>
