<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="{{ url_for('static', filename='style/style.css') }}" rel="stylesheet">
    <link
      href="https://fonts.googleapis.com/css?family=Cairo:200,300,400,600,700,900&display=swap&subset=arabic"
      rel="stylesheet"
    />

    <title>خدمة توصيل الوجبات</title>
  </head>
  <body>
    <div id="homepage">
      <div class="image-container">
        <header id="header">
          <p>LOGO</p>

          <nav class="header-nav">
            <div>
              <Link to="#">تسجيل دخول</Link>
              <span> | </span>
              <Link to="#">مستخدم جديد</Link>
            </div>
            <Link to="#">الاستفسارات</Link>
            <Link to="#">اتصل بنا</Link>
          </nav>
        </header>

        <section>
          <h1>خدمة توصيل الوجبات</h1>
          <p class="slogan">أسرع خدمة توصيل وجبات في العالم العربي</p>

          <a href="#" class="order">اطلــــــب الآن</a>
        </section>
      </div>
    </div>
  </body>
</html>
