<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="{{ url_for('static', filename='style/style.css') }}" rel="stylesheet">
    <script src="{{url_for('static', filename='js/show-request-for-admin.js')}}"></script>
    <link
      href="https://fonts.googleapis.com/css?family=Cairo:200,300,400,600,700,900&display=swap&subset=arabic"
      rel="stylesheet"
    />

    <title>عرض الوجبات</title>
  </head>
  <body>
    <header id="header">
      <p>LOGO</p>

      <nav class="header-nav">
        <a href="#">الصفحة الرئيسية</a>
        <a href="#">صفحة الوجبات</a>
        <a href="#">صفحة الطلبات</a>
      </nav>
    </header>

    <main id="main-request">
      <form class="search-request-form">
        <div>
          <label for="search-request">:فرز حسب</label>

          <select name="search-request" id="search-request">
            <option value="date">التاريخ</option>
            <option value="state">الحالة</option>
          </select>
        </div>
      </form>

      <p>عرض الطلبات</p>

      <form action="{{url_for('requests')}}" method="POST">
        <section class="request-table">
          <div class="request-table-header">
            <p>الحالة</p>
            <p>تاريخ الطلب</p>
            <p>الكمية</p>
            <p>العنوان</p>
            <p>اسم صاحب الطلب</p>
          </div>

          {% for request in requests %}
          <div>
            <div class="checkbox-status-form">
              {% if request.is_active == True %}
              <p id="{{request.id}}">تم</p>
              <input type="checkbox" id="{{request.id}}g" onchange="on_active('{{request.id}}')"
                     value="False"  name="checkbox-status-form-{{request.id}}" checked />
              {% else %}
              <p id="{{request.id}}">قيد الانتظار</p>
              <input type="checkbox" id="{{request.id}}g" onchange="on_active('{{request.id}}')"
                     value="False" name="checkbox-status-form-{{request.id}}" />
              {% endif %}

            </div>
            <p>{{request.request_date.strftime("%A, %d %B %Y %I:%M:%S %p")}}</p>
            <p>{{request.amount}}</p>
            <p>{{request.address}}</p>
            <p>{{request.name_user}}</p>
          </div>
          {% endfor %}

        </section>

        <input type="submit" value="حفظ التعديلات" class="btn-edit" />
      </form>
    </main>
  </body>
</html>
