<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="{{ url_for('static', filename='style/style.css') }}"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Cairo:200,300,400,600,700,900&display=swap&subset=arabic"
      rel="stylesheet"
    />

    <title>الوجبات</title>
  </head>
  <body>
    <header id="header">
      <p>LOGO</p>

      <nav class="header-nav">
        <a href="#">الصفحة الرئيسية</a>
        <a href="#">صفحة الطلبات </a>
      </nav>
    </header>

    <main id="main-meals">
      <section class="meals-container">
        <p>تصفح الوجبات</p>
        {% for meal in meals %}
        <div class="meal">
          <img src="{{ meal.photo.url }}" />
          <div>
            <p class="meal-header">{{ meal.name }}</p>
            <p>{{ meal.desc }}</p>
            <div>
              <a href="{{url_for('meal_details',id = meal.id)}}"
                >تصفـــح الوجبة</a
              >
              <a href="#">اطلب الوجبة</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </section>
    </main>
  </body>
</html>
