<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="{{ url_for('static', filename='style/style.css') }}" rel="stylesheet">
    <link
      href="https://fonts.googleapis.com/css?family=Cairo:200,300,400,600,700,900&display=swap&subset=arabic"
      rel="stylesheet"
    />

    <title>عرض الوجبات</title>
  </head>
  <body>
    <header id="header">
      <p>LOGO</p>

      <nav class="header-nav">
        <a href="#">الصفحة الرئيسية</a>
        <a href="#">صفحة الوجبات</a>
        <a href="#">صفحة الطلبات</a>
      </nav>
    </header>

    <main id="main-edit">
      <section class="meals-container">
        <!-- Template -->
        {% for meal in meals %}
          <div class="meal">
          <p>{{meal.name}}</p>
          <img src="{{meal.photo.url}}" />

          <div>
            <button onclick="location.href='{{url_for('delete_meal',id = meal.id)}}'" class="delete-btn">حـــذف</button>
            <button  onclick="location.href='{{url_for('update_meal',id = meal.id)}}'" class="edit-btn">تعديــل</button>
          </div>
          </div>
        {% endfor %}
      </section>
    </main>

    <footer id="footer"></footer>
  </body>
</html>
